//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "nullstyle.scss";
//====================================================
//<ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*font-family: 'PT Sans', sans-serif;*/
@import url('../fonts/banny-fonts/stylesheet.css');
/*font-family: 'Banny Round';*/
//====================================================
//<ПЕРЕМЕННЫЕ>
$minw: 320;
$maxw: 1100;//изменить в соответствии с макетом!
$md1: 991.98;
$md2: 780;
$md3: 767.98;
$md4: 575.98;
$md5: 479.98;
$md6: 426;
$md7: 375;
//====================================================
//<МИКСИНЫ>
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
@mixin flexorder($fz) {-webkit-order: $fz;-moz-order: $fz;order: $fz;}
//====================================================
//<ОСНОВНАЯ СЕТКА>
.container {
	max-width: $maxw+px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: 1200px) {
		max-width: 900px;
	}
	@media (max-width: $md1+px) {
		max-width: none;
		padding: 0px 40px;
	}
	@media (max-width: $md6+px) {
		padding: 0px 20px;
	}
}
.wrapper {
	max-width: 600px;
	margin: 0 auto;
}
.sort {
	padding: 20px;
	box-shadow: 5px 5px 10px #ccc;
}
.sort__title {
	font-size: 24px;
	margin-bottom: 20px;
}
.sort__text {
	margin-bottom: 20px;
}
.sort__btn {
	color: #fff;
	background-color: #000;
	padding: 8px 16px;
	margin-bottom: 20px;
	&:hover {
		color: #000;
    	background-color: #ccc;
	}
}
.sort__list {
	li {
		border-bottom: 1px solid #ccc;
		padding: 10px 0;
	}
}